<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animation/fudi/lg/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,0},{71,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{71,140}}</string>
                <key>sourceSize</key>
                <string>{81,146}</string>
            </dict>
            <key>animation/fudi/lg/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,0},{67,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{67,140}}</string>
                <key>sourceSize</key>
                <string>{81,146}</string>
            </dict>
            <key>animation/fudi/lg/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,0},{65,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{65,138}}</string>
                <key>sourceSize</key>
                <string>{81,146}</string>
            </dict>
            <key>animation/fudi/lg/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,0},{65,138}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{65,138}}</string>
                <key>sourceSize</key>
                <string>{81,146}</string>
            </dict>
            <key>animation/fudi/lg/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,0},{67,138}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{67,138}}</string>
                <key>sourceSize</key>
                <string>{81,146}</string>
            </dict>
            <key>animation/fudi/lg/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,140},{71,138}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{71,138}}</string>
                <key>sourceSize</key>
                <string>{81,146}</string>
            </dict>
            <key>animation/fudi/lg/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,140},{73,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{73,138}}</string>
                <key>sourceSize</key>
                <string>{81,146}</string>
            </dict>
            <key>animation/fudi/lg/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{73,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{73,140}}</string>
                <key>sourceSize</key>
                <string>{81,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lg.pvr.ccz</string>
            <key>size</key>
            <string>{408,213}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f63b2235b3dfa296549c3c50ed11d8f0:1/1$</string>
            <key>textureFileName</key>
            <string>lg.pvr.ccz</string>
        </dict>
    </dict>
</plist>
