<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animation/fudi/zhg/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,640},{84,128}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,128}}</string>
                <key>sourceSize</key>
                <string>{88,132}</string>
            </dict>
            <key>animation/fudi/zhg/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,512},{84,128}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,128}}</string>
                <key>sourceSize</key>
                <string>{88,132}</string>
            </dict>
            <key>animation/fudi/zhg/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,384},{84,128}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,128}}</string>
                <key>sourceSize</key>
                <string>{88,132}</string>
            </dict>
            <key>animation/fudi/zhg/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,256},{84,128}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,128}}</string>
                <key>sourceSize</key>
                <string>{88,132}</string>
            </dict>
            <key>animation/fudi/zhg/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{84,128}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,128}}</string>
                <key>sourceSize</key>
                <string>{88,132}</string>
            </dict>
            <key>animation/fudi/zhg/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{84,128}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,128}}</string>
                <key>sourceSize</key>
                <string>{88,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhg.pvr.ccz</string>
            <key>size</key>
            <string>{84,768}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b73e8c3d359500adae723d87affba52b:1/1$</string>
            <key>textureFileName</key>
            <string>zhg.pvr.ccz</string>
        </dict>
    </dict>
</plist>
