<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animation/common/ring/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,0},{37,48}}</string>
                <key>offset</key>
                <string>{-32,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{37,48}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>animation/common/ring/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,0},{39,68}}</string>
                <key>offset</key>
                <string>{28,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,25},{39,68}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>animation/common/ring/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,0},{43,72}}</string>
                <key>offset</key>
                <string>{30,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,17},{43,72}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>animation/common/ring/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,0},{57,60}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,11},{57,60}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>animation/common/ring/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,0},{53,50}}</string>
                <key>offset</key>
                <string>{16,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,7},{53,50}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>animation/common/ring/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,0},{65,42}}</string>
                <key>offset</key>
                <string>{10,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,6},{65,42}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>animation/common/ring/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,0},{59,42}}</string>
                <key>offset</key>
                <string>{-3,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,1},{59,42}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>animation/common/ring/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,0},{65,42}}</string>
                <key>offset</key>
                <string>{-5,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{65,42}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>animation/common/ring/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,0},{57,46}}</string>
                <key>offset</key>
                <string>{-13,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,1},{57,46}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>animation/common/ring/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,0},{41,60}}</string>
                <key>offset</key>
                <string>{-32,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{41,60}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>animation/common/ring/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,0},{37,60}}</string>
                <key>offset</key>
                <string>{-34,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{37,60}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>animation/common/ring/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,0},{47,68}}</string>
                <key>offset</key>
                <string>{-30,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,23},{47,68}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>animation/common/ring/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{61,60}}</string>
                <key>offset</key>
                <string>{-24,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{61,60}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>animation/common/ring/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,0},{73,48}}</string>
                <key>offset</key>
                <string>{-18,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{73,48}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>animation/common/ring/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,0},{65,44}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,60},{65,44}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>animation/common/ring/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,0},{57,58}}</string>
                <key>offset</key>
                <string>{10,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,48},{57,58}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>animation/common/ring/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,0},{45,66}}</string>
                <key>offset</key>
                <string>{19,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,35},{45,66}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ring.pvr.ccz</string>
            <key>size</key>
            <string>{970,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63b7e9628c3506d84942f85aab2da350:1/1$</string>
            <key>textureFileName</key>
            <string>ring.pvr.ccz</string>
        </dict>
    </dict>
</plist>
