<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animation/common/touchWave/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,160},{36,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,59},{36,31}}</string>
                <key>sourceSize</key>
                <string>{154,149}</string>
            </dict>
            <key>animation/common/touchWave/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,149},{154,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,149}}</string>
                <key>sourceSize</key>
                <string>{154,149}</string>
            </dict>
            <key>animation/common/touchWave/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,443},{150,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{150,145}}</string>
                <key>sourceSize</key>
                <string>{154,149}</string>
            </dict>
            <key>animation/common/touchWave/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{154,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,149}}</string>
                <key>sourceSize</key>
                <string>{154,149}</string>
            </dict>
            <key>animation/common/touchWave/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,219},{50,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,52},{50,45}}</string>
                <key>sourceSize</key>
                <string>{154,149}</string>
            </dict>
            <key>animation/common/touchWave/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,160},{64,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,45},{64,59}}</string>
                <key>sourceSize</key>
                <string>{154,149}</string>
            </dict>
            <key>animation/common/touchWave/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,87},{78,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,38},{78,73}}</string>
                <key>sourceSize</key>
                <string>{154,149}</string>
            </dict>
            <key>animation/common/touchWave/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,0},{92,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,31},{92,87}}</string>
                <key>sourceSize</key>
                <string>{154,149}</string>
            </dict>
            <key>animation/common/touchWave/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,298},{108,103}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,22},{108,103}}</string>
                <key>sourceSize</key>
                <string>{154,149}</string>
            </dict>
            <key>animation/common/touchWave/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,588},{122,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,16},{122,117}}</string>
                <key>sourceSize</key>
                <string>{154,149}</string>
            </dict>
            <key>animation/common/touchWave/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,588},{136,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{136,131}}</string>
                <key>sourceSize</key>
                <string>{154,149}</string>
            </dict>
            <key>animation/common/touchWave/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,298},{150,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{150,145}}</string>
                <key>sourceSize</key>
                <string>{154,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>touchWave.pvr.ccz</string>
            <key>size</key>
            <string>{253,719}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40d89854cd3a6288b1f9f43003e014b1:1/1$</string>
            <key>textureFileName</key>
            <string>touchWave.pvr.ccz</string>
        </dict>
    </dict>
</plist>
