<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animation/bigMap/fire/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{224,192}}</string>
                <key>offset</key>
                <string>{-11,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,4},{224,192}}</string>
                <key>sourceSize</key>
                <string>{290,218}</string>
            </dict>
            <key>animation/bigMap/fire/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,194},{222,196}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,2},{222,196}}</string>
                <key>sourceSize</key>
                <string>{290,218}</string>
            </dict>
            <key>animation/bigMap/fire/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,0},{222,194}}</string>
                <key>offset</key>
                <string>{-10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,3},{222,194}}</string>
                <key>sourceSize</key>
                <string>{290,218}</string>
            </dict>
            <key>animation/bigMap/fire/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,0},{222,194}}</string>
                <key>offset</key>
                <string>{-10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{222,194}}</string>
                <key>sourceSize</key>
                <string>{290,218}</string>
            </dict>
            <key>animation/bigMap/fire/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,0},{224,194}}</string>
                <key>offset</key>
                <string>{-11,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{224,194}}</string>
                <key>sourceSize</key>
                <string>{290,218}</string>
            </dict>
            <key>animation/bigMap/fire/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,194},{226,196}}</string>
                <key>offset</key>
                <string>{-12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{226,196}}</string>
                <key>sourceSize</key>
                <string>{290,218}</string>
            </dict>
            <key>animation/bigMap/fire/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,194},{226,194}}</string>
                <key>offset</key>
                <string>{-13,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{226,194}}</string>
                <key>sourceSize</key>
                <string>{290,218}</string>
            </dict>
            <key>animation/bigMap/fire/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,390},{228,196}}</string>
                <key>offset</key>
                <string>{-13,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,3},{228,196}}</string>
                <key>sourceSize</key>
                <string>{290,218}</string>
            </dict>
            <key>animation/bigMap/fire/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,390},{228,196}}</string>
                <key>offset</key>
                <string>{-13,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,3},{228,196}}</string>
                <key>sourceSize</key>
                <string>{290,218}</string>
            </dict>
            <key>animation/bigMap/fire/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,386},{220,196}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,2},{220,196}}</string>
                <key>sourceSize</key>
                <string>{290,218}</string>
            </dict>
            <key>animation/bigMap/fire/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,390},{218,198}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,1},{218,198}}</string>
                <key>sourceSize</key>
                <string>{290,218}</string>
            </dict>
            <key>animation/bigMap/fire/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,192},{220,194}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{220,194}}</string>
                <key>sourceSize</key>
                <string>{290,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fire.pvr.ccz</string>
            <key>size</key>
            <string>{894,588}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a760ea8f0d6c004c04453d2544bf77f:1/1$</string>
            <key>textureFileName</key>
            <string>fire.pvr.ccz</string>
        </dict>
    </dict>
</plist>
