<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animation/copy/item/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,528},{265,255}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{265,255}}</string>
                <key>sourceSize</key>
                <string>{283,275}</string>
            </dict>
            <key>animation/copy/item/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,267},{261,265}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{261,265}}</string>
                <key>sourceSize</key>
                <string>{283,275}</string>
            </dict>
            <key>animation/copy/item/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,0},{265,267}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{265,267}}</string>
                <key>sourceSize</key>
                <string>{283,275}</string>
            </dict>
            <key>animation/copy/item/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,560},{267,267}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{267,267}}</string>
                <key>sourceSize</key>
                <string>{283,275}</string>
            </dict>
            <key>animation/copy/item/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,560},{267,269}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{267,269}}</string>
                <key>sourceSize</key>
                <string>{283,275}</string>
            </dict>
            <key>animation/copy/item/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,283},{265,267}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{265,267}}</string>
                <key>sourceSize</key>
                <string>{283,275}</string>
            </dict>
            <key>animation/copy/item/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,283},{277,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{277,269}}</string>
                <key>sourceSize</key>
                <string>{283,275}</string>
            </dict>
            <key>animation/copy/item/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{283,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,275}}</string>
                <key>sourceSize</key>
                <string>{283,275}</string>
            </dict>
            <key>animation/copy/item/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,0},{265,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{265,257}}</string>
                <key>sourceSize</key>
                <string>{283,275}</string>
            </dict>
            <key>animation/copy/item/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,751},{207,205}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,38},{207,205}}</string>
                <key>sourceSize</key>
                <string>{283,275}</string>
            </dict>
            <key>animation/copy/item/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,532},{219,221}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,26},{219,221}}</string>
                <key>sourceSize</key>
                <string>{283,275}</string>
            </dict>
            <key>animation/copy/item/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,265},{219,267}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,3},{219,267}}</string>
                <key>sourceSize</key>
                <string>{283,275}</string>
            </dict>
            <key>animation/copy/item/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,0},{225,265}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,5},{225,265}}</string>
                <key>sourceSize</key>
                <string>{283,275}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>item.pvr.ccz</string>
            <key>size</key>
            <string>{1022,956}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c1bb4bf7abd32a74ada3155b2d29456:1/1$</string>
            <key>textureFileName</key>
            <string>item.pvr.ccz</string>
        </dict>
    </dict>
</plist>
