<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animation/battle/b_attack1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,0},{76,107}}</string>
                <key>offset</key>
                <string>{5,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{76,107}}</string>
                <key>sourceSize</key>
                <string>{110,223}</string>
            </dict>
            <key>animation/battle/b_attack1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,0},{88,105}}</string>
                <key>offset</key>
                <string>{2,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,25},{88,105}}</string>
                <key>sourceSize</key>
                <string>{110,223}</string>
            </dict>
            <key>animation/battle/b_attack1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,0},{102,219}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{102,219}}</string>
                <key>sourceSize</key>
                <string>{110,223}</string>
            </dict>
            <key>animation/battle/b_attack1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{106,219}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{106,219}}</string>
                <key>sourceSize</key>
                <string>{110,223}</string>
            </dict>
            <key>animation/battle/b_attack1/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,0},{100,205}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,18},{100,205}}</string>
                <key>sourceSize</key>
                <string>{110,223}</string>
            </dict>
            <key>animation/battle/b_attack1/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,107},{70,103}}</string>
                <key>offset</key>
                <string>{12,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,37},{70,103}}</string>
                <key>sourceSize</key>
                <string>{110,223}</string>
            </dict>
            <key>animation/battle/b_attack1/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,160},{70,99}}</string>
                <key>offset</key>
                <string>{9,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,31},{70,99}}</string>
                <key>sourceSize</key>
                <string>{110,223}</string>
            </dict>
            <key>animation/battle/b_attack1/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,88},{72,101}}</string>
                <key>offset</key>
                <string>{2,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,30},{72,101}}</string>
                <key>sourceSize</key>
                <string>{110,223}</string>
            </dict>
            <key>animation/battle/b_attack1/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,177},{62,107}}</string>
                <key>offset</key>
                <string>{5,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,24},{62,107}}</string>
                <key>sourceSize</key>
                <string>{110,223}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>b_attack1.pvr.ccz</string>
            <key>size</key>
            <string>{514,239}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca37dd8f66b355b4cf26ce8740a8ef14:1/1$</string>
            <key>textureFileName</key>
            <string>b_attack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
