<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animation/battle/b_attack2/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,101},{77,126}}</string>
                <key>offset</key>
                <string>{-7,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,83},{77,126}}</string>
                <key>sourceSize</key>
                <string>{103,212}</string>
            </dict>
            <key>animation/battle/b_attack2/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,128},{79,114}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,59},{79,114}}</string>
                <key>sourceSize</key>
                <string>{103,212}</string>
            </dict>
            <key>animation/battle/b_attack2/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{99,208}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,208}}</string>
                <key>sourceSize</key>
                <string>{103,212}</string>
            </dict>
            <key>animation/battle/b_attack2/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,0},{101,182}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{101,182}}</string>
                <key>sourceSize</key>
                <string>{103,212}</string>
            </dict>
            <key>animation/battle/b_attack2/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,99},{81,168}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{81,168}}</string>
                <key>sourceSize</key>
                <string>{103,212}</string>
            </dict>
            <key>animation/battle/b_attack2/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,180},{63,120}}</string>
                <key>offset</key>
                <string>{-10,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,58},{63,120}}</string>
                <key>sourceSize</key>
                <string>{103,212}</string>
            </dict>
            <key>animation/battle/b_attack2/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,166},{65,120}}</string>
                <key>offset</key>
                <string>{-7,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,63},{65,120}}</string>
                <key>sourceSize</key>
                <string>{103,212}</string>
            </dict>
            <key>animation/battle/b_attack2/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,0},{73,128}}</string>
                <key>offset</key>
                <string>{-4,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,71},{73,128}}</string>
                <key>sourceSize</key>
                <string>{103,212}</string>
            </dict>
            <key>animation/battle/b_attack2/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,101},{65,128}}</string>
                <key>offset</key>
                <string>{-8,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,82},{65,128}}</string>
                <key>sourceSize</key>
                <string>{103,212}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>b_attack2.pvr.ccz</string>
            <key>size</key>
            <string>{464,243}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7dda4a831916df4888dd6ab68663b1df:1/1$</string>
            <key>textureFileName</key>
            <string>b_attack2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
