<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animation/battle/b_die2/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,732},{68,130}}</string>
                <key>offset</key>
                <string>{-9,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{68,130}}</string>
                <key>sourceSize</key>
                <string>{114,176}</string>
            </dict>
            <key>animation/battle/b_die2/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,598},{72,134}}</string>
                <key>offset</key>
                <string>{-12,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{72,134}}</string>
                <key>sourceSize</key>
                <string>{114,176}</string>
            </dict>
            <key>animation/battle/b_die2/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,184},{102,160}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{102,160}}</string>
                <key>sourceSize</key>
                <string>{114,176}</string>
            </dict>
            <key>animation/battle/b_die2/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,92},{92,104}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,55},{92,104}}</string>
                <key>sourceSize</key>
                <string>{114,176}</string>
            </dict>
            <key>animation/battle/b_die2/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,516},{94,82}}</string>
                <key>offset</key>
                <string>{3,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,81},{94,82}}</string>
                <key>sourceSize</key>
                <string>{114,176}</string>
            </dict>
            <key>animation/battle/b_die2/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,436},{96,80}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,90},{96,80}}</string>
                <key>sourceSize</key>
                <string>{114,176}</string>
            </dict>
            <key>animation/battle/b_die2/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{104,92}}</string>
                <key>offset</key>
                <string>{5,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,80},{104,92}}</string>
                <key>sourceSize</key>
                <string>{114,176}</string>
            </dict>
            <key>animation/battle/b_die2/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,344},{100,92}}</string>
                <key>offset</key>
                <string>{-2,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,84},{100,92}}</string>
                <key>sourceSize</key>
                <string>{114,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>b_die2.pvr.ccz</string>
            <key>size</key>
            <string>{104,862}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ccde41c89476e307e036da9fc233d8af:1/1$</string>
            <key>textureFileName</key>
            <string>b_die2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
