<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animation/battle/b_stand1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,0},{67,105}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{67,105}}</string>
                <key>sourceSize</key>
                <string>{71,107}</string>
            </dict>
            <key>animation/battle/b_stand1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{69,105}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,105}}</string>
                <key>sourceSize</key>
                <string>{71,107}</string>
            </dict>
            <key>animation/battle/b_stand1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,0},{67,105}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{67,105}}</string>
                <key>sourceSize</key>
                <string>{71,107}</string>
            </dict>
            <key>animation/battle/b_stand1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,0},{67,105}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{67,105}}</string>
                <key>sourceSize</key>
                <string>{71,107}</string>
            </dict>
            <key>animation/battle/b_stand1/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,0},{67,105}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{67,105}}</string>
                <key>sourceSize</key>
                <string>{71,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>b_stand1.pvr.ccz</string>
            <key>size</key>
            <string>{337,105}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7ecd41bb13fd91273cb76630a9a6b55:1/1$</string>
            <key>textureFileName</key>
            <string>b_stand1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
