<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animation/battle/g_cheer1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,0},{67,102}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{67,102}}</string>
                <key>sourceSize</key>
                <string>{97,128}</string>
            </dict>
            <key>animation/battle/g_cheer1/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,0},{65,100}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{65,100}}</string>
                <key>sourceSize</key>
                <string>{97,128}</string>
            </dict>
            <key>animation/battle/g_cheer1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,0},{65,102}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{65,102}}</string>
                <key>sourceSize</key>
                <string>{97,128}</string>
            </dict>
            <key>animation/battle/g_cheer1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,0},{65,104}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{65,104}}</string>
                <key>sourceSize</key>
                <string>{97,128}</string>
            </dict>
            <key>animation/battle/g_cheer1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,0},{73,102}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{73,102}}</string>
                <key>sourceSize</key>
                <string>{97,128}</string>
            </dict>
            <key>animation/battle/g_cheer1/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{63,122}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{63,122}}</string>
                <key>sourceSize</key>
                <string>{97,128}</string>
            </dict>
            <key>animation/battle/g_cheer1/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,0},{85,102}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,22},{85,102}}</string>
                <key>sourceSize</key>
                <string>{97,128}</string>
            </dict>
            <key>animation/battle/g_cheer1/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,0},{67,112}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{67,112}}</string>
                <key>sourceSize</key>
                <string>{97,128}</string>
            </dict>
            <key>animation/battle/g_cheer1/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,0},{89,104}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{89,104}}</string>
                <key>sourceSize</key>
                <string>{97,128}</string>
            </dict>
            <key>animation/battle/g_cheer1/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,0},{79,102}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,22},{79,102}}</string>
                <key>sourceSize</key>
                <string>{97,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_cheer1.pvr.ccz</string>
            <key>size</key>
            <string>{718,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe5b5b8a5502b13e18cdde5cc28a8b28:1/1$</string>
            <key>textureFileName</key>
            <string>g_cheer1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
