<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animation/battle/g_die1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,0},{67,102}}</string>
                <key>offset</key>
                <string>{-19,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,46},{67,102}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>animation/battle/g_die1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,74},{63,90}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,35},{63,90}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>animation/battle/g_die1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,102},{73,88}}</string>
                <key>offset</key>
                <string>{3,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,1},{73,88}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>animation/battle/g_die1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{85,74}}</string>
                <key>offset</key>
                <string>{11,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,8},{85,74}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>animation/battle/g_die1/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,102},{69,72}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,29},{69,72}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>animation/battle/g_die1/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,0},{71,68}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,29},{71,68}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>animation/battle/g_die1/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,174},{71,68}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,30},{71,68}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>animation/battle/g_die1/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,175},{69,68}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,31},{69,68}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>animation/battle/g_die1/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,175},{67,68}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,31},{67,68}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_die1.pvr.ccz</string>
            <key>size</key>
            <string>{244,243}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:caf1986693c40f67a21347f2940aa69c:1/1$</string>
            <key>textureFileName</key>
            <string>g_die1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
