<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animation/battle/g_run1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,214},{59,107}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{59,107}}</string>
                <key>sourceSize</key>
                <string>{71,125}</string>
            </dict>
            <key>animation/battle/g_run1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,107},{59,107}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{59,107}}</string>
                <key>sourceSize</key>
                <string>{71,125}</string>
            </dict>
            <key>animation/battle/g_run1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,426},{57,105}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{57,105}}</string>
                <key>sourceSize</key>
                <string>{71,125}</string>
            </dict>
            <key>animation/battle/g_run1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,531},{55,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{55,117}}</string>
                <key>sourceSize</key>
                <string>{71,125}</string>
            </dict>
            <key>animation/battle/g_run1/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,321},{59,105}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{59,105}}</string>
                <key>sourceSize</key>
                <string>{71,125}</string>
            </dict>
            <key>animation/battle/g_run1/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{59,107}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{59,107}}</string>
                <key>sourceSize</key>
                <string>{71,125}</string>
            </dict>
            <key>animation/battle/g_run1/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,648},{53,107}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{53,107}}</string>
                <key>sourceSize</key>
                <string>{71,125}</string>
            </dict>
            <key>animation/battle/g_run1/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,755},{53,105}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{53,105}}</string>
                <key>sourceSize</key>
                <string>{71,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_run1.pvr.ccz</string>
            <key>size</key>
            <string>{59,860}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c91f43eb89bdd4bf5725f9176b0e089:1/1$</string>
            <key>textureFileName</key>
            <string>g_run1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
