<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animation/battle/jt_attack1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,0},{93,175}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,1},{93,175}}</string>
                <key>sourceSize</key>
                <string>{267,179}</string>
            </dict>
            <key>animation/battle/jt_attack1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,0},{95,175}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,1},{95,175}}</string>
                <key>sourceSize</key>
                <string>{267,179}</string>
            </dict>
            <key>animation/battle/jt_attack1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{267,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,179}}</string>
                <key>sourceSize</key>
                <string>{267,179}</string>
            </dict>
            <key>animation/battle/jt_attack1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,0},{93,175}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,1},{93,175}}</string>
                <key>sourceSize</key>
                <string>{267,179}</string>
            </dict>
            <key>animation/battle/jt_attack1/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,0},{93,175}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,1},{93,175}}</string>
                <key>sourceSize</key>
                <string>{267,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jt_attack1.pvr.ccz</string>
            <key>size</key>
            <string>{641,179}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70b676730991b88c47daea92ebd3f5f6:1/1$</string>
            <key>textureFileName</key>
            <string>jt_attack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
