<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animation/battle/jt_die1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{94,174}}</string>
                <key>offset</key>
                <string>{7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,0},{94,174}}</string>
                <key>sourceSize</key>
                <string>{162,200}</string>
            </dict>
            <key>animation/battle/jt_die1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,0},{102,168}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,6},{102,168}}</string>
                <key>sourceSize</key>
                <string>{162,200}</string>
            </dict>
            <key>animation/battle/jt_die1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,0},{134,142}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{134,142}}</string>
                <key>sourceSize</key>
                <string>{162,200}</string>
            </dict>
            <key>animation/battle/jt_die1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,0},{162,166}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{162,166}}</string>
                <key>sourceSize</key>
                <string>{162,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jt_die1.pvr.ccz</string>
            <key>size</key>
            <string>{492,174}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b29877edc5740ee0f11688efab6a82a9:1/1$</string>
            <key>textureFileName</key>
            <string>jt_die1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
