<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animation/battle/nu_attack2/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,407},{100,97}}</string>
                <key>offset</key>
                <string>{-6,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,49},{100,97}}</string>
                <key>sourceSize</key>
                <string>{122,153}</string>
            </dict>
            <key>animation/battle/nu_attack2/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,274},{108,133}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{108,133}}</string>
                <key>sourceSize</key>
                <string>{122,153}</string>
            </dict>
            <key>animation/battle/nu_attack2/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,139},{110,135}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{110,135}}</string>
                <key>sourceSize</key>
                <string>{122,153}</string>
            </dict>
            <key>animation/battle/nu_attack2/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{112,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{112,139}}</string>
                <key>sourceSize</key>
                <string>{122,153}</string>
            </dict>
            <key>animation/battle/nu_attack2/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,591},{100,87}}</string>
                <key>offset</key>
                <string>{-7,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,59},{100,87}}</string>
                <key>sourceSize</key>
                <string>{122,153}</string>
            </dict>
            <key>animation/battle/nu_attack2/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,504},{100,87}}</string>
                <key>offset</key>
                <string>{-7,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,59},{100,87}}</string>
                <key>sourceSize</key>
                <string>{122,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nu_attack2.pvr.ccz</string>
            <key>size</key>
            <string>{112,678}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be0ea593c51913967fcadfa3f27d8fd6:1/1$</string>
            <key>textureFileName</key>
            <string>nu_attack2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
