<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animation/battle/nu_die2/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,404},{103,93}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{103,93}}</string>
                <key>sourceSize</key>
                <string>{105,117}</string>
            </dict>
            <key>animation/battle/nu_die2/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{105,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{105,113}}</string>
                <key>sourceSize</key>
                <string>{105,117}</string>
            </dict>
            <key>animation/battle/nu_die2/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,497},{101,95}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{101,95}}</string>
                <key>sourceSize</key>
                <string>{105,117}</string>
            </dict>
            <key>animation/battle/nu_die2/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,307},{103,97}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{103,97}}</string>
                <key>sourceSize</key>
                <string>{105,117}</string>
            </dict>
            <key>animation/battle/nu_die2/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,210},{103,97}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{103,97}}</string>
                <key>sourceSize</key>
                <string>{105,117}</string>
            </dict>
            <key>animation/battle/nu_die2/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,113},{103,97}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{103,97}}</string>
                <key>sourceSize</key>
                <string>{105,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nu_die2.pvr.ccz</string>
            <key>size</key>
            <string>{105,592}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de4c1af2a4cca502a813dabdc1f60171:1/1$</string>
            <key>textureFileName</key>
            <string>nu_die2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
