<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animation/battle/nu_run1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,515},{103,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{103,89}}</string>
                <key>sourceSize</key>
                <string>{107,95}</string>
            </dict>
            <key>animation/battle/nu_run1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,412},{103,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{103,89}}</string>
                <key>sourceSize</key>
                <string>{107,95}</string>
            </dict>
            <key>animation/battle/nu_run1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,309},{103,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{103,89}}</string>
                <key>sourceSize</key>
                <string>{107,95}</string>
            </dict>
            <key>animation/battle/nu_run1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,206},{103,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{103,89}}</string>
                <key>sourceSize</key>
                <string>{107,95}</string>
            </dict>
            <key>animation/battle/nu_run1/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,103},{103,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{103,89}}</string>
                <key>sourceSize</key>
                <string>{107,95}</string>
            </dict>
            <key>animation/battle/nu_run1/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{103,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{103,89}}</string>
                <key>sourceSize</key>
                <string>{107,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nu_run1.pvr.ccz</string>
            <key>size</key>
            <string>{89,618}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:066760c2700421efe3c93e8fe4ffe8ef:1/1$</string>
            <key>textureFileName</key>
            <string>nu_run1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
