<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animation/battle/q_attack1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,0},{151,144}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{151,144}}</string>
                <key>sourceSize</key>
                <string>{159,218}</string>
            </dict>
            <key>animation/battle/q_attack1/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,0},{103,158}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,20},{103,158}}</string>
                <key>sourceSize</key>
                <string>{159,218}</string>
            </dict>
            <key>animation/battle/q_attack1/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,103},{107,146}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,30},{107,146}}</string>
                <key>sourceSize</key>
                <string>{159,218}</string>
            </dict>
            <key>animation/battle/q_attack1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,0},{129,158}}</string>
                <key>offset</key>
                <string>{15,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{129,158}}</string>
                <key>sourceSize</key>
                <string>{159,218}</string>
            </dict>
            <key>animation/battle/q_attack1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,111},{125,166}}</string>
                <key>offset</key>
                <string>{16,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{125,166}}</string>
                <key>sourceSize</key>
                <string>{159,218}</string>
            </dict>
            <key>animation/battle/q_attack1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,0},{111,166}}</string>
                <key>offset</key>
                <string>{18,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,0},{111,166}}</string>
                <key>sourceSize</key>
                <string>{159,218}</string>
            </dict>
            <key>animation/battle/q_attack1/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,117},{109,194}}</string>
                <key>offset</key>
                <string>{-13,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,24},{109,194}}</string>
                <key>sourceSize</key>
                <string>{159,218}</string>
            </dict>
            <key>animation/battle/q_attack1/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{121,190}}</string>
                <key>offset</key>
                <string>{-12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,28},{121,190}}</string>
                <key>sourceSize</key>
                <string>{159,218}</string>
            </dict>
            <key>animation/battle/q_attack1/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,0},{117,184}}</string>
                <key>offset</key>
                <string>{-15,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,34},{117,184}}</string>
                <key>sourceSize</key>
                <string>{159,218}</string>
            </dict>
            <key>animation/battle/q_attack1/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,151},{95,156}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,26},{95,156}}</string>
                <key>sourceSize</key>
                <string>{159,218}</string>
            </dict>
            <key>animation/battle/q_attack1/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,158},{89,154}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,21},{89,154}}</string>
                <key>sourceSize</key>
                <string>{159,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>q_attack1.pvr.ccz</string>
            <key>size</key>
            <string>{930,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c861de06d495f33ecd500eb7d43d2614:1/1$</string>
            <key>textureFileName</key>
            <string>q_attack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
