<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animation/battle/q_cheer2/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,403},{109,133}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{109,133}}</string>
                <key>sourceSize</key>
                <string>{113,137}</string>
            </dict>
            <key>animation/battle/q_cheer2/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,133},{111,133}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{111,133}}</string>
                <key>sourceSize</key>
                <string>{113,137}</string>
            </dict>
            <key>animation/battle/q_cheer2/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{111,133}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{111,133}}</string>
                <key>sourceSize</key>
                <string>{113,137}</string>
            </dict>
            <key>animation/battle/q_cheer2/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,266},{109,137}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,137}}</string>
                <key>sourceSize</key>
                <string>{113,137}</string>
            </dict>
            <key>animation/battle/q_cheer2/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,536},{107,137}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{107,137}}</string>
                <key>sourceSize</key>
                <string>{113,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>q_cheer2.pvr.ccz</string>
            <key>size</key>
            <string>{111,673}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb83658d3aa298888a67c5b679e9ef40:1/1$</string>
            <key>textureFileName</key>
            <string>q_cheer2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
