<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animation/battle/q_cheer1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,404},{108,136}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,136}}</string>
                <key>sourceSize</key>
                <string>{112,136}</string>
            </dict>
            <key>animation/battle/q_cheer1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{110,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,136}}</string>
                <key>sourceSize</key>
                <string>{112,136}</string>
            </dict>
            <key>animation/battle/q_cheer1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,270},{110,134}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{110,134}}</string>
                <key>sourceSize</key>
                <string>{112,136}</string>
            </dict>
            <key>animation/battle/q_cheer1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,136},{110,134}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{110,134}}</string>
                <key>sourceSize</key>
                <string>{112,136}</string>
            </dict>
            <key>animation/battle/q_cheer1/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,540},{108,132}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{108,132}}</string>
                <key>sourceSize</key>
                <string>{112,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>q_cheer1.pvr.ccz</string>
            <key>size</key>
            <string>{110,672}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f0bdf40c1b4a94fbdd642d09c3dd099:1/1$</string>
            <key>textureFileName</key>
            <string>q_cheer1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
