<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animation/battle/q_run2/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,665},{106,141}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{106,141}}</string>
                <key>sourceSize</key>
                <string>{118,143}</string>
            </dict>
            <key>animation/battle/q_run2/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,528},{110,137}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{110,137}}</string>
                <key>sourceSize</key>
                <string>{118,143}</string>
            </dict>
            <key>animation/battle/q_run2/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,395},{112,133}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{112,133}}</string>
                <key>sourceSize</key>
                <string>{118,143}</string>
            </dict>
            <key>animation/battle/q_run2/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,264},{114,131}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{114,131}}</string>
                <key>sourceSize</key>
                <string>{118,143}</string>
            </dict>
            <key>animation/battle/q_run2/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,135},{116,129}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{116,129}}</string>
                <key>sourceSize</key>
                <string>{118,143}</string>
            </dict>
            <key>animation/battle/q_run2/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{118,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{118,135}}</string>
                <key>sourceSize</key>
                <string>{118,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>q_run2.pvr.ccz</string>
            <key>size</key>
            <string>{118,806}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4c1bc13782e1bb6306ff253c60a269a:1/1$</string>
            <key>textureFileName</key>
            <string>q_run2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
