<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animation/battle/q_stand2/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,137},{110,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,137}}</string>
                <key>sourceSize</key>
                <string>{110,137}</string>
            </dict>
            <key>animation/battle/q_stand2/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,548},{108,137}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,137}}</string>
                <key>sourceSize</key>
                <string>{110,137}</string>
            </dict>
            <key>animation/battle/q_stand2/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,411},{108,137}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,137}}</string>
                <key>sourceSize</key>
                <string>{110,137}</string>
            </dict>
            <key>animation/battle/q_stand2/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,274},{108,137}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,137}}</string>
                <key>sourceSize</key>
                <string>{110,137}</string>
            </dict>
            <key>animation/battle/q_stand2/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{110,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,137}}</string>
                <key>sourceSize</key>
                <string>{110,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>q_stand2.pvr.ccz</string>
            <key>size</key>
            <string>{110,685}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc6265bfeebd74a5fc0274660921f477:1/1$</string>
            <key>textureFileName</key>
            <string>q_stand2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
