<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animation/cityMap/farmer1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,0},{57,123}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{57,123}}</string>
                <key>sourceSize</key>
                <string>{59,173}</string>
            </dict>
            <key>animation/cityMap/farmer1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,57},{57,147}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{57,147}}</string>
                <key>sourceSize</key>
                <string>{59,173}</string>
            </dict>
            <key>animation/cityMap/farmer1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,0},{57,155}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,155}}</string>
                <key>sourceSize</key>
                <string>{59,173}</string>
            </dict>
            <key>animation/cityMap/farmer1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{57,127}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{57,127}}</string>
                <key>sourceSize</key>
                <string>{59,173}</string>
            </dict>
            <key>animation/cityMap/farmer1/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,0},{57,121}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{57,121}}</string>
                <key>sourceSize</key>
                <string>{59,173}</string>
            </dict>
            <key>animation/cityMap/farmer1/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,0},{57,115}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{57,115}}</string>
                <key>sourceSize</key>
                <string>{59,173}</string>
            </dict>
            <key>animation/cityMap/farmer1/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,0},{57,113}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{57,113}}</string>
                <key>sourceSize</key>
                <string>{59,173}</string>
            </dict>
            <key>animation/cityMap/farmer1/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,0},{57,103}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{57,103}}</string>
                <key>sourceSize</key>
                <string>{59,173}</string>
            </dict>
            <key>animation/cityMap/farmer1/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,0},{57,107}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{57,107}}</string>
                <key>sourceSize</key>
                <string>{59,173}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>farmer1.pvr.ccz</string>
            <key>size</key>
            <string>{554,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f02871a911b8f71e276c819a82d2559:1/1$</string>
            <key>textureFileName</key>
            <string>farmer1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
