<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animation/cityMap/p_pat1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,502},{49,84}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{49,84}}</string>
                <key>sourceSize</key>
                <string>{91,104}</string>
            </dict>
            <key>animation/cityMap/p_pat1/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{51,84}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{51,84}}</string>
                <key>sourceSize</key>
                <string>{91,104}</string>
            </dict>
            <key>animation/cityMap/p_pat1/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,418},{49,84}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{49,84}}</string>
                <key>sourceSize</key>
                <string>{91,104}</string>
            </dict>
            <key>animation/cityMap/p_pat1/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,334},{49,84}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{49,84}}</string>
                <key>sourceSize</key>
                <string>{91,104}</string>
            </dict>
            <key>animation/cityMap/p_pat1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,250},{49,84}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{49,84}}</string>
                <key>sourceSize</key>
                <string>{91,104}</string>
            </dict>
            <key>animation/cityMap/p_pat1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,166},{49,84}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{49,84}}</string>
                <key>sourceSize</key>
                <string>{91,104}</string>
            </dict>
            <key>animation/cityMap/p_pat1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,914},{49,82}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{49,82}}</string>
                <key>sourceSize</key>
                <string>{91,104}</string>
            </dict>
            <key>animation/cityMap/p_pat1/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,832},{49,82}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{49,82}}</string>
                <key>sourceSize</key>
                <string>{91,104}</string>
            </dict>
            <key>animation/cityMap/p_pat1/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,750},{49,82}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{49,82}}</string>
                <key>sourceSize</key>
                <string>{91,104}</string>
            </dict>
            <key>animation/cityMap/p_pat1/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,668},{49,82}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{49,82}}</string>
                <key>sourceSize</key>
                <string>{91,104}</string>
            </dict>
            <key>animation/cityMap/p_pat1/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,586},{49,82}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{49,82}}</string>
                <key>sourceSize</key>
                <string>{91,104}</string>
            </dict>
            <key>animation/cityMap/p_pat1/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,84},{51,82}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{51,82}}</string>
                <key>sourceSize</key>
                <string>{91,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p_pat1.pvr.ccz</string>
            <key>size</key>
            <string>{51,996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8783fc56c03757ee61faf310e1fe55a:1/1$</string>
            <key>textureFileName</key>
            <string>p_pat1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
