<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animation/cityMap/worker2/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,329},{58,99}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{58,99}}</string>
                <key>sourceSize</key>
                <string>{58,171}</string>
            </dict>
            <key>animation/cityMap/worker2/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,226},{58,103}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{58,103}}</string>
                <key>sourceSize</key>
                <string>{58,171}</string>
            </dict>
            <key>animation/cityMap/worker2/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,123},{58,103}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{58,103}}</string>
                <key>sourceSize</key>
                <string>{58,171}</string>
            </dict>
            <key>animation/cityMap/worker2/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{58,123}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{58,123}}</string>
                <key>sourceSize</key>
                <string>{58,171}</string>
            </dict>
            <key>animation/cityMap/worker2/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,525},{58,97}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,41},{58,97}}</string>
                <key>sourceSize</key>
                <string>{58,171}</string>
            </dict>
            <key>animation/cityMap/worker2/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,428},{58,97}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,41},{58,97}}</string>
                <key>sourceSize</key>
                <string>{58,171}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worker2.pvr.ccz</string>
            <key>size</key>
            <string>{58,622}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b275012021c260e23da36e46f99be146:1/1$</string>
            <key>textureFileName</key>
            <string>worker2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
